body,
html {
  width: 100%;
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  color: #766f6f;
}

.post-heading .post-title {
  font-size: 24px;
}

#search-header {
  font-size: 18px;
}

.post-heading .post-subtitle {
  font-size: 16px;
}

.post-heading {
  margin-top: 28px;
}

.post-preview a:hover .post-title, .post-preview a:hover p {
  color: #3973ac;
}

.post-preview a:hover {
  text-decoration: none!important;
}

.post-title {
  margin-top: 0px;
}

.post-meta {
  font-size: 12px;
  color: #a8a3a3;
}

.post-subtitle {
  color: #766f6f;
}

.post-image {
  padding: 20px 25px 20px 25px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

#sidebar {
  min-height: 400px;
  margin-top: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border-left: 1px solid #D9D9D9;
}

#submit-search {
  margin-top: 10px;
  margin-bottom: 10px;
}

#search-page-button {
  margin-left: -10px;
}

.auto-resizable-iframe {
  max-width: 720px;
  margin: 0px auto;
  margin-top: 40px;
}

.auto-resizable-iframe.reel {
  max-width: 500px;
  margin-top: 0px;
}

.auto-resizable-iframe > div {
  position: relative;
  padding-bottom: 56.25%;
  height: 0px;
}

.auto-resizable-iframe iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.owl-page span {
  margin: 5px!important;
}

#image-slider {
  margin-top: 30px;
}

#image-slider .item img{
    display: block;
    width: 100%;
    height: auto;
}

.intro-header {
  background-size:     cover;                      
  background-repeat:   no-repeat;
  background-position: top center;
}

.subheading {
  margin-top: -10px;
  font-size: 14px;
}

.project-title {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.project-page-heading {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.film-info a:hover {
  text-decoration: none!important;
}

.film-info a:hover .project-header-film, .film-info a:hover p {
  color: #3973ac;
}

.languages {
  padding: 0 10px 0 10px;
  color: #a8a3a3;
  font-size: 12px;
}

.project-header-film {
  font-size: 22px;
  margin-top: 10px;
  text-decoration: none;
  color: #444;
  margin-bottom: 5px;
}

.project-header-code {
  margin-top: 5px;
  text-decoration: none;
  color: #444;
}

.caret {
  border-top: 4px solid;
}

.feature-img {
  width: 100%;
  height: auto;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  filter: none; 
  -webkit-filter: blur(0px); 
  -moz-filter: blur(0px); 
  -ms-filter: blur(0px);
}

span.film-type {
  float: right;
  padding: 9px 0 0 10px;
  color: #a8a3a3;
  font-size: 12px;
  font-style: normal;
}

.position {
  margin: 0;
  font-size: 14px;
  color: #766f6f;
  margin-bottom:10px;
}

.feature-img-cont {
  max-width: 400px;
  padding: 0 0 0 0;
  border-radius: 5px;
  overflow: hidden;
  position: relative; 
  z-index: 1;
  box-shadow: 0px 0px 2px rgba(162, 170, 184, 0.5);
}

.feature-img-cont.thumb {
  max-width: 100px;
}

.film-info {
  border-radius: 0 0 5px 5px;
}

.feature a:hover .feature-img {
  transform: scale(1.05, 1.05);
}

.feature-text-right {
  text-align: left;
}

.feature-text-left {
  text-align: left;
}

.filter-btn-group {
  margin-bottom: 10px;
}

.filter-btn {
  font-size: 12px;
  color: #766f6f;
  padding: 15px 3px 5px 3px;
  background-color: white;
  margin-left: 1px;
  margin-right: 1px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}

.filter-btn.active, .filter-btn:hover {
  border-bottom: #3973ac solid 2px;
  color: #3973ac;
  text-decoration: none;
}

.list-inline>li:nth-child(even) { 
  color: #353131;
}

.headers {
  padding-bottom: 10px;
  color: #3973ac;
}

.dropdown-menu {
  background-color: #f8f8f8;
}

.dropdown-menu>li>a {
  color: #444;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  color: #444;
  background-color: #e7e7e7;
}

.navbar-fixed-top {
  font-size: 16px;
  -webkit-font-smoothing: subpixel-antialiased;
}

.navbar-brand {
  font-size: 20px;
}

.photo {
  max-height: 180px;
}

.img-border {
  border: #999999 solid 1px;
}

.content {
  padding-top: 50px;
  padding-bottom: 25px;
  min-height: 70%;
}

[class*="col-"] {
  margin-top: 10px;
}

.vtop {
  margin-top: 10px;
}

.vbottom {
  margin-bottom: 15px;
}

@media only screen and (min-width:768px){
  .post-heading .post-title {
    font-size: 30px;
  }
  #search-header {
    font-size: 30px;
  }
  .post-heading .post-subtitle {
    font-size: 18px;
  }
  .content {min-height: 70%;}
  .vbottom {margin-bottom: 0px;}
  .photo {max-height: 210px;}
  .filter-btn {
    font-size: 15px;
    color: #766f6f;
    padding: 15px 13px 5px 13px;
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
  }
  .subheading {
    font-size: 18px;
  }
  .project-title {
    font-size: 30px;
  }
}

@media only screen and (min-width:992px) {
.content {min-height: 80%;}
.feature-text-right {
  text-align: right;
}
.blog-content {
  padding-right: 50px;
}
}

@media only screen and (min-width:1400px) {
.content {min-height: 85%;}
}

/*-- social buttons --*/
ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  display: block;
  width: 37px;
  height: 37px;
  border-radius: 15%;
  font-size: 28px;
  line-height: 37px;
  outline: 0;
  color: #fff;
  background-color: #fc8682;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #fa3f38;
}

:target:before {
  content: "";
  display: block;
  height: 50px; /* fixed header height*/
  margin:-50px 0 0; /* negative fixed header height */
}

/*--- footer ----*/
footer {
  border-top: 1px solid #D9D9D9;
  background-color: #E6E6E6;
  padding-bottom: 40px;
}

footer .center-block h4{
  margin-bottom: 14px;
  margin-left:-3px;
}

footer .footer-col {
  margin-top: 20px;

}

.blog {
  min-height: 450px;
}