<div class="col-xs-9 col-sm-3 sidebar-offcanvas col-height" id="sidebar">
  <form class=form-horizontal" action="/search" method="get">
    <div class="form-group">
      <input type="text" id="search-box" name="query" class="form-control" placeholder="Search">
      <button id="submit-search" type="submit" value="search" class="pull-right btn btn-default"><i class="fa fa-search"></i></button>
    </div>
  </form>
  <div class="row">
    <div class="col-xs-12 tags">
      <h4>Tags</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 archive">
      <h4>Archive</h4>
      {%for post in site.posts %}
        <ul class="archive-sidebar">
        {% unless post.next %}
          <li><a href="/archive#{{ post.date | date: '%Y' }}">{{ post.date | date: '%Y' }}</a></li>
        {% else %}
          {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
          {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
            {% if year != nyear %}
            <li><a href="/archive#{{ nyear }}">{{ nyear }}</a></li>
            {% endif %}
        {% endunless %}
        {% endfor %}
    </div>
  </div>
</div><!--/.sidebar-offcanvas-->