---
layout: page
custom_css: offcanvas
custom_js: offcanvas
---
<div class="container">
  <div class="row row-offcanvas row-offcanvas-right blog">
    <div class="col-xs-12 col-sm-9 col-lg-8 col-lg-offset-1">
      <p class="pull-right visible-xs sidebar-toggle-p">
        <button type="button" class="btn btn-primary btn-sm sidebar-toggle" data-toggle="offcanvas"><i class="fa fa-search"></i></button>
      </p>
      <div class="row">
        <div class="col-xs-12 vshift blog-content">
          {{content}}
        </div>
      </div><!--/row-->
    </div><!--/.col-sm-12.col-md-9-->

    {% include sidebar.html %}
  </div>
</div>